@import './MovieCard.css';
@import './Loader.css';
@import './Empty.css';
@import './Pagination.css';
@import './DarkTheme.css';

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--app-bg);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
  padding: 0px 24px 24px 24px;
  max-width: 1200px;
  margin: 0 auto;
  background: var(--panel-bg);
  min-height: 100vh;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}