@import './MovieCard.css';
@import './Loader.css';
@import './Empty.css';
@import './Pagination.css';

body {
  font-family: 'Inter', sans-serif;
  background-color: #F7F7F7;
  margin: 0;
  padding: 0;
}
