.movie-card .ant-card-body {
  padding: 0;
  box-shadow: 0px 4px 12px 0px #00000026;
  border-radius: 0 !important;
}

.movie-card-wrapper {
  display: flex;
  height: 260px;
}

.poster-wrapper {
  width: 150px;
  flex-shrink: 0;
}

.poster-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  flex: 1;
  position: relative;

  min-width: 0;
}

.movie-rating {
  margin-top: auto;
  font-size: 18px;
  white-space: nowrap;
}

.ant-rate {
  font-size: 18px;
}

.movie-title {
  margin-bottom: 4px !important;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  padding-right: 40px;
}

.movie-date {
  color: #8c8c8c;
  font-size: 12px;
}

.movie-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 8px 0;
}

.movie-description {
  font-size: 14px;
  margin-bottom: 0;
  max-height: 85px;
  overflow: hidden;
}

.movie-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  flex: 1;
  position: relative;
}

.movie-score {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 34px;
  height: 34px;

  border-radius: 50%;
  border: 3px solid #E9D100;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: 600;
}

@media (max-width: 500px) {

  .movie-card-wrapper {
    flex-direction: column;
    height: auto;
  }

  .poster-wrapper {
    width: 100%;
    height: auto;
  }

}
